@import "wv-overlay.scss";
@import "wv-serielist.scss";
@import "wv-toolbar.scss";
@import "wv-studylist.scss";

wv-viewport { // make sure the element is sized when using with drag & drop
  display: inline-block;
}
wv-toolbar {
  display: block;
}

.wv-container {
  height: 100%;
  overflow: hidden;
}
.wv-menu {
  display: block;
  float: left;
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
  text-align: center;
  width: 200px;
}

.wv-main {
  display: block;
  float: left;
  height: 100%;
  width: calc(100% - 200px);
}

wv-toolbar ~ wv-splitpane,
wv-toolbar ~ wv-serie-viewport,
wv-toolbar ~ .after-toolbar {
  display: block;
  height: calc(100% - 40px);
  //margin-top: -5px;
}

.wv-splitpane {
  height: 100%;
}
.wv-splitpane-cell {
  display: inline-block;
  float: left;
  height: 100%;
}

.wv-draggable-clone {
  width: 150px;
  height: 150px;
  background-color: rgba(255,255,255,0.25);
}
