# Dependency directory
# https://docs.npmjs.com/misc/faq#should-i-check-my-node-modules-folder-into-git
node_modules/*
!node_modules/gulp-injectInlineWorker              # this folder is the only one in the git repo and it must be copied to the container
!node_modules/gulp-injectInlineWorker/index.js
bower_components/

# other
report/
docs/
.tmp/
.sass-cache/
.osisync/
.idea/
.DS_Store
npm-debug.log
