# Dependency directory
# https://docs.npmjs.com/misc/faq#should-i-check-my-node-modules-folder-into-git
!node_modules/gulp-injectInlineWorker
node_modules/*
bower_components/

# Build directory
build/

# other
report/
.tmp/
.sass-cache/
.osisync/
.idea/
.DS_Store
npm-debug.log
