<div class="wvInfoScreen" ng-if="vm.show">
    <div class="wvInfoPopup">
        <div class="wvInfoPopupLogo">
            <a href="https://www.osimis.io" target="_blank"><img style="width: 340px;" src="images/logo-osimis.png"/></a>
        </div>
        <div class="wvInfoPopupText">
            <h3>Usage</h3>
            <p>
                This DICOM viewer has not been approved<br>for diagnostic usage.
            </p>
            <h3 ng-if="vm.showDocumentation">Documentation</h3>
            <p ng-if="vm.showDocumentation">
                <a ng-href="{{vm.documentationUrl}}" target="_blank">User Manual</a>
            </p>
            <h3>Versions</h3>
            <p>
                Orthanc: {{vm.orthancVersion}}<br>
                Osimis WebViewer: {{vm.viewerVersion}}
            </p>
        </div>
        <div class="wvInfoPopupForm">
            <br>
            <label ng-if="vm.showCheckbox">Show this info panel at startup
                <input type="checkbox" style="margin-left: 20px" id="showInfoPopupAtStartupUserPref" name="showInfoPopupAtStartupUserPref" ng-model="vm.showInfoPopupAtStartupUserPref">
            </label>
            <br><br>
            <div style="text-align: center;">
                <input type="submit" class="wvInfoPopupCloseButton" value="Close" ng-click="vm.close()">
            </div>
        </div>
    </div>
</div>
