<wv-layout>
    <!--
    Layout: top zones (1, 2, 3 and 4)

    @note
    At the moment, if toolbarEnabled === false, the whole top part of the
    application disapear.

    @todo keep some buttons in series mode?
    -->
    <wv-layout-top ng-if="vm.toolbarEnabled">
        <!--
        Layout: top1

        @description
        Parameterizable zone.
        The user of the `wvWebviewer` directive can inject content here. For
        instance, a button to quit the application, or a study list.
        
        @example
        ```html
        <wv-webviewer ...>
            <wv-layout-top1>
                User content here...
            </wv-layout-top1>
        </wv-webviewer>
        ```
        -->
        <wv-layout-top1 ng-transclude="wvLayoutTop1">
        </wv-layout-top1>

        <!--
        Layout: top2
    
        @description
        Splitpane Grid configuration buttons.
        -->
        <wv-layout-top2 ng-hide="vm.isEditorShown">
            <button
                ng-disabled="vm.readonly"
                style="cursor: pointer; position: relative; top: 1px; /*align with other buttons*/"
                osi-tooltip
                data-placement="bottom"
                title="Single view"
                data-original-title="Single view"
                class="wvViewer__button"
                ng-click="vm.tools.layout = {x: 1, y: 1}"
                ng-class="{'active': vm.tools.layout.x === 1 &&  vm.tools.layout.y === 1}"
            >
                <span class="glyphicon glyphicon-stop"></span>
            </button>
            <button
                ng-disabled="vm.readonly"
                style="cursor: pointer; position: relative; top: 1px; /*align with other buttons*/"
                osi-tooltip
                data-placement="bottom"
                title="Split view"
                data-original-title="Split view"
                ng-click="vm.tools.layout = {x: 2, y: 2}"
                class="wvViewer__button"
                ng-class="{'active': vm.tools.layout.x === 2 &&  vm.tools.layout.y === 2}"
            >
                <span class="glyphicon glyphicon-th-large"></span>
            </button>
        </wv-layout-top2>

        <!--
        Layout: top3
    
        @description
        Toolbox zone.
        -->
        <wv-layout-top3>
            <wv-toolbox
                wv-readonly="vm.readonly"
                wv-toolbox-buttons="vm.tools"
                wv-active-tool="vm.activeTool"
            ></wv-toolbox>
        </wv-layout-top3>

        <!--
        Layout: top4
        
        @description
        Parameterizable zone.
        The user of the `wvWebviewer` directive can inject content here. For
        instance, additional controls to let the wvb interact with an host app.

        @example
        ```html
        <wv-webviewer ...>
            <wv-layout-top4>
                User content here... For instance buttons:
                <button
                    osi-tooltip
                    data-placement="bottom"
                    title="Viewer mode"
                    class="wvViewer__button"
                    ng-click="vm.hideEditor()"
                    ng-class="{'active': !vm.isEditorShown}"
                >
                    <span class="glyphicon glyphicon-eye_open"></span>
                </button>
                <button
                    osi-tooltip
                    data-placement="bottom"
                    title="Editor mode"
                    class="wvViewer__button"
                    ng-click="vm.showEditor()"
                    ng-class="{'active': vm.isEditorShown}"
                >
                    <span class="glyphicon glyphicon-notes"></span>
                </button>
            </wv-layout-top4>
        </wv-webviewer>
        ```
        -->
        <wv-layout-top4 ng-transclude="wvLayoutTop4">
        </wv-layout-top4>
    </wv-layout-top>

    <!--
    Layout: left
    
    @description
    Zone containing the study's information and the list of series.
    -->
    <wv-layout-left wv-aside-minified="$minified" wv-aside-hidden="$hidden" ng-if="vm.serieslistEnabled">
        <section ng-show="!$minified &amp;&amp; !$hidden" class="wvAsideLeft__information fontColor__white">
            <h3 class="h2 pt10">Study information</h3>
            <div class="wvAsideLeft__informationList clearfix">
                <wv-al-informations wv-study-id="vm.studyId"></wv-al-informations>
            </div>
        </section>
        <section class="wvAsideLeft__serie fontColor__white wv-h pt10">
            <!-- @todo osi-fix-height=".wvViewer__asideLeft .wvAsideLeft__information, .wvViewer__asideLeft" -->
            <h3 ng-if="!vm.serieslistMinified" class="h2 mtn">Series list</h3>
            <div class="wvAsideLeft__serieList scrollable">
                <!-- @todo osi-fix-height=".wvViewer__asideLeft .wvAsideLeft__serie>h3" -->
                <wv-advanced-serielist wv-study-id="vm.studyId" wv-minified="vm.serieslistMinified"></wv-advanced-serielist>
            </div>
        </section>
        <!-- <study-information ng-if="!vm.serieslistMinified"></study-information> -->
        <!-- <serie-list display-mode="full|minified"></serie-list> -->
    </wv-layout-left>

    <!--
    Layout: right
    
    @description
    Parameterizable zone.
    The user of the `wvWebviewer` directive can inject content here and
    configure advanced display options. Have a look at the `wvLayoutRight` 
    directive for the advanced configuration.

    @todo ng-if to make sure javascript is loaded after layout-main one's

    @example
    ```html
    <wv-webviewer ...>
        <wv-layout-right>
            User content here...
        </wv-layout-right>
    </wv-webviewer>
    ```
    -->
    <ng-transclude ng-transclude-slot="wvLayoutRight">
    </ng-transclude>

    <!--
    Layout: main

    @description
    This zone contains the viewports.
    -->
    <wv-layout-main>
        <!--
        Splitpane
        -->
        <wv-splitpane wv-layout="vm.tools.layout">
             <wv-pane-policy
                wv-size-tag
                wv-pane-index="$index" wv-pane-position="$position"
                wv-on-pane-added="vm.configureViewport($index)" wv-on-pane-removed="vm.cleanupViewport($index)"
             >
                <!--
                Viewport
                -->
                <wv-viewport 
                    vp:series-id="vm.viewports[$index].seriesId" wv-size="{width: '[wv-size-tag]', height: '[wv-size-tag]'}" wv-lossless="true"
                    wv-series="$series" wv-image="$image"
                    wv-droppable-series-ext="!vm.readonly && vm.serieslistEnabled"
                    wv-scroll-on-wheel-series-ext="!vm.readonly"
                    wv-viewport="vm.viewports[$index].csViewport"
                    wv-image-index="vm.viewports[$index].imageIndex"

                    wv-default-viewport-tool="!vm.readonly && vm.tools.windowing"
                    wv-angle-measure-viewport-tool="!vm.readonly && vm.tools.anglemeasure"
                    wv-length-measure-viewport-tool="!vm.readonly && vm.tools.lengthmeasure"
                    wv-elliptical-roi-viewport-tool="!vm.readonly && vm.tools.ellipticalroi"
                    wv-zoom-viewport-tool="!vm.readonly && vm.tools.zoom"
                    wv-pan-viewport-tool="!vm.readonly && vm.tools.pan"
                    wv-pixel-probe-viewport-tool="!vm.readonly && vm.tools.pixelprobe"
                    wv-rectangle-roi-viewport-tool="!vm.readonly && vm.tools.rectangleroi"

                    wv-invert-contrast-viewport-tool="!vm.readonly && vm.tools.invert"

                    wv-rotateleft-viewport-tool="!vm.readonly && vm.tools.rotateleft"
                    wv-rotateright-viewport-tool="!vm.readonly && vm.tools.rotateright"
                    wv-vflip-viewport-tool="!vm.readonly && vm.tools.vflip"
                    wv-hflip-viewport-tool="!vm.readonly && vm.tools.hflip"
                >
                    <!--
                    Overlay
                    -->
                    <wv-overlay ng-if="vm.tools.overlay" wv-tags="$image.tags" wv-viewport="vm.viewports[$index].csViewport"></wv-overlay>

                    <!--
                    Timeline.

                    Always show the timeline — even if there is only 
                    one image — until we develop a specific component 
                    to display the image quality
                    -->
                    <div class="wv-overlay-timeline-wrapper">
                        <wv-timeline wv-series="$series" wv-readonly="vm.readonly"></wv-timeline>
                    </div>

                    <!--
                    Notice: droppable component
                    -->
                    <wv-droppable-series-overlay-item></wv-droppable-series-overlay-item>
                </wv-viewport>
            </wv-pane-policy>
        </wv-splitpane>
    </wv-layout-main>

</wv-layout>
