<wv-layout
    wv-topleft-enabled="$isTopLeftEnabled"
    wv-topright-enabled="$isTopRightEnabled"
    wv-right-enabled="$isRightEnabled"
>
    <!--
    Layout: fullscreen

    @description
    PDF viewer takes the whole screen when a PDF report is opened.
    -->
    <wv-pdf-viewer
        ng-if="vm.currentPdfReportId"
        wv-report-id="vm.currentPdfReportId"
    ></wv-pdf-viewer>

    <!--
    Layout: top zones (1, 2, 3 and 4)

    @note
    At the moment, if toolbarEnabled === false, the whole top part of the
    application disapear.

    @todo keep some buttons in series mode?
    -->
    <wv-layout-top
        wv-enabled="$isTopLeftEnabled || vm.toolbarEnabled || $isTopRightEnabled"
    >
        <!--
        Layout: top-left

        @description
        Parameterizable zone.
        The user of the `wvWebviewer` directive can inject content here. For
        instance, a button to quit the application, or a study list.
        
        @example
        ```html
        <wv-webviewer ...>
            <wv-layout-top-left>
                User content here...
            </wv-layout-top-left>
        </wv-webviewer>
        ```
        -->
        <wv-layout-top1 ng-transclude="wvLayoutTopLeft"></wv-layout-top1>

        <!--
        Layout: top2
    
        @description
        Splitpane Grid configuration buttons.
        -->
        <wv-layout-top2 ng-show="vm.toolbarEnabled">
            <button
                ng-disabled="vm.readonly"
                bs-tooltip
                data-placement="bottom"
                title="Single view"
                data-original-title="Single view"
                class="wvViewer__button"
                ng-click="vm.tools.layout = {x: 1, y: 1}"
                ng-class="{'active': vm.tools.layout.x === 1 &&  vm.tools.layout.y === 1}"
            >
                <span class="glyphicon glyphicon-stop"></span>
            </button>
            <button
                ng-disabled="vm.readonly"
                bs-tooltip
                data-placement="bottom"
                title="Split view"
                data-original-title="Split view"
                ng-click="vm.tools.layout = {x: 2, y: 2}"
                class="wvViewer__button"
                ng-class="{'active': vm.tools.layout.x === 2 &&  vm.tools.layout.y === 2}"
            >
                <span class="glyphicon glyphicon-th-large"></span>
            </button>
        </wv-layout-top2>

        <!--
        Layout: top3
    
        @description
        Toolbox zone.
        -->
        <wv-layout-top3 ng-show="vm.toolbarEnabled">
            <wv-toolbox
                wv-readonly="vm.readonly"
                wv-toolbox-buttons="vm.tools"
                wv-active-tool="vm.activeTool"
            ></wv-toolbox>
        </wv-layout-top3>

        <!--
        Layout: top-right
        
        @description
        Parameterizable zone.
        The user of the `wvWebviewer` directive can inject content here. For
        instance, additional controls to let the wvb interact with an host app.

        @example
        ```html
        <wv-webviewer ...>
            <wv-layout-top-right>
                User content here... For instance buttons:
                <button
                    bs-tooltip
                    data-placement="bottom"
                    title="Viewer mode"
                    class="wvViewer__button"
                    ng-click="vm.hideEditor()"
                    ng-class="{'active': !vm.isEditorShown}"
                >
                    <span class="glyphicon glyphicon-eye_open"></span>
                </button>
                <button
                    bs-tooltip
                    data-placement="bottom"
                    title="Editor mode"
                    class="wvViewer__button"
                    ng-click="vm.showEditor()"
                    ng-class="{'active': vm.isEditorShown}"
                >
                    <span class="glyphicon glyphicon-notes"></span>
                </button>
            </wv-layout-top4>
        </wv-webviewer>
        ```
        -->
        <wv-layout-top4 ng-transclude="wvLayoutTopRight">
        </wv-layout-top4>
    </wv-layout-top>

    <!--
    Layout: left
    
    @description
    Zone containing the study's information and the list of series.
    -->
    <wv-layout-left
        wv-enabled="vm.serieslistEnabled || vm.studyinformationEnabled"
        wv-handles-enabled="vm.leftHandlesEnabled"
    >
        <!-- Study's inforomation -->
        <section
            ng-if="vm.studyinformationEnabled"
            class="wvAsideLeft__information fontColor__white"
        >
            <h3 class="h2 pt10">Study Information</h3>
            <wv-study-information
                wv-study-id="vm.studyId"
                class="clearfix"
            ></wv-study-information>
        </section>
        <!-- List of series -->
        <section
            ng-if="vm.serieslistEnabled"
            class="wvAsideLeft__serie fontColor__white wv-h pt10"
        >
            <h3 class="h2 mtn">List of Series</h3>
            <wv-serieslist
                wv-study-id="vm.studyId"
                wv-selected-report-id="vm.currentPdfReportId"
            ></wv-serieslist>
        </section>
    </wv-layout-left>

    <!--
    Layout: right
    
    @description
    Parameterizable zone.
    The user of the `wvWebviewer` directive can inject content here and
    configure advanced display options. Have a look at the `wvLayoutRight` 
    directive for the advanced configuration.

    @todo ng-if to make sure javascript is loaded after layout-main one's

    @example
    ```html
    <wv-webviewer ...>
        <wv-layout-right>
            User content here...
        </wv-layout-right>
    </wv-webviewer>
    ```
    -->
    <ng-transclude
        ng-transclude-slot="wvLayoutRight"
    >   
        <!-- Default layout right disabled -->
        <wv-layout-right
            ng-init="falseValue = false"
            wv-enabled="falseValue"
        >
        </wv-layout-right>
    </ng-transclude>

    <!--
    Layout: bottom

    @description
    This zone contains the notices.
    -->
    <wv-layout-bottom
        wv-enabled="vm.noticeEnabled"
    >
        <wv-notice
            ng-if="vm.noticeEnabled"
            wv-content="vm.noticeText"
            wv-on-close="vm.noticeEnabled = false"
        ></wv-notice">
    </wv-layout-bottom>

    <!--
    Layout: main

    @description
    This zone contains the viewports.
    -->
    <wv-layout-main>
        <!--
        Splitpane
        -->
        <wv-splitpane wv-layout="vm.tools.layout">
             <wv-pane-policy
                wv-pane-index="$index" wv-pane-position="$position"
                wv-on-pane-added="vm.configureViewport($index)" wv-on-pane-removed="vm.cleanupViewport($index)"
             >
                <!--
                Viewport
                -->
                <wv-viewport 
                    vp:series-id="vm.viewports[$index].seriesId" wv-size="{width: 1.0, height: 1.0}" wv-lossless="true"
                    wv-series="$series" wv-image="$image"
                    wv-droppable-series-ext="!vm.readonly && vm.serieslistEnabled"
                    wv-scroll-on-wheel-series-ext="!vm.readonly"
                    wv-viewport="vm.viewports[$index].csViewport"
                    wv-image-index="vm.viewports[$index].imageIndex"

                    wv-mobile-viewport-tool="!vm.readonly && vm.mobileInteraction"
                    wv-windowing-viewport-tool="!vm.readonly && !vm.mobileInteraction && vm.tools.windowing"
                    wv-angle-measure-viewport-tool="!vm.readonly && !vm.mobileInteraction && vm.tools.anglemeasure"
                    wv-length-measure-viewport-tool="!vm.readonly && !vm.mobileInteraction && vm.tools.lengthmeasure"
                    wv-elliptical-roi-viewport-tool="!vm.readonly && !vm.mobileInteraction && vm.tools.ellipticalroi"
                    wv-zoom-viewport-tool="!vm.readonly && !vm.mobileInteraction && vm.tools.zoom"
                    wv-pan-viewport-tool="!vm.readonly && !vm.mobileInteraction && vm.tools.pan"
                    wv-pixel-probe-viewport-tool="!vm.readonly && !vm.mobileInteraction && vm.tools.pixelprobe"
                    wv-rectangle-roi-viewport-tool="!vm.readonly && !vm.mobileInteraction && vm.tools.rectangleroi"

                    wv-invert-contrast-viewport-tool="!vm.readonly && !vm.mobileInteraction && vm.tools.invert"

                    wv-rotateleft-viewport-tool="!vm.readonly && !vm.mobileInteraction && vm.tools.rotateleft"
                    wv-rotateright-viewport-tool="!vm.readonly && !vm.mobileInteraction && vm.tools.rotateright"
                    wv-vflip-viewport-tool="!vm.readonly && !vm.mobileInteraction && vm.tools.vflip"
                    wv-hflip-viewport-tool="!vm.readonly && !vm.mobileInteraction && vm.tools.hflip"
                >
                    <!--
                    Overlay
                    -->
                    <wv-overlay ng-if="vm.tools.overlay" wv-tags="$image.tags" wv-viewport="vm.viewports[$index].csViewport"></wv-overlay>

                    <!--
                    Timeline.

                    Always show the timeline — even if there is only 
                    one image — until we develop a specific component 
                    to display the image quality
                    -->
                    <div class="wv-overlay-timeline-wrapper">
                        <wv-timeline wv-series="$series" wv-readonly="vm.readonly"></wv-timeline>
                    </div>

                    <!--
                    Notice: droppable component
                    -->
                    <wv-droppable-series-overlay-item></wv-droppable-series-overlay-item>
                </wv-viewport>
            </wv-pane-policy>
        </wv-splitpane>
    </wv-layout-main>

</wv-layout>
