# Dependency directory
# https://docs.npmjs.com/misc/faq#should-i-check-my-node-modules-folder-into-git
node_modules/
bower_components/
osimis-test-runner/src/
osimis-test-runner/env/
osimis-test-runner/orthanc/
osimis-test-runner/Orthanc_Files/

# Build directory
/build/

# other
report/
.tmp/
.sass-cache/
.osisync/
.idea/
.DS_Store
npm-debug.log
