<div class="wvViewer__content"
    ng-class="{
     	'wvViewer__content--bigLeftPadding': !vm.asideLeftMinified &amp;&amp; !vm.asideLeftHidden,
     	'wvViewer__content--smallLeftPadding': vm.asideLeftMinified &amp;&amp; !vm.asideLeftHidden,
        'wvViewer__content--bigRightPadding': vm.asideRightEnabled &amp;&amp; !vm.asideRightMinified &amp;&amp; !vm.asideRightHidden,
        'wvViewer__content--smallRightPadding': vm.asideRightEnabled &amp;&amp; vm.asideRightMinified &amp;&amp; !vm.asideRightHidden
 	}"
    ng-transclude
>
</div>
