.wvButton {
    // Set relative to position button absolutely
    position: relative;

    // Set margin
    display: inline-block;
    margin: 0.75rem;

    // Set button size
    padding: 0.05rem 1rem;

    // Align text
    padding-bottom: 0.5rem;

    // Style button
    cursor: pointer;
    border: 1px solid hsl(0, 0%, 27%);
    font-variant: small-caps;
    text-align: center;
    font-size: 1.25em;
    font-weight: 400;
    line-height: 2.2rem;
    color: hsl(0, 0%, 90%);

    // Remove <a> default styles. Take care - this class may either be used
    // with <a> or <button>.
    &:hover {
        text-decoration: none;
        color: inherit;
    }

    // Remove <button> default styles.
    outline: none;
    background-color: transparent;

    // Change background on hover
    background-color: hsl(0, 0%, 0%);
    &:hover {
        background-color: hsl(0, 0%, 10%);
    }

}

// White modifier to use when the background is white
.wvButton--white {
    // Text color
    color: hsl(0, 0%, 10%);
    border: 1px solid hsl(0, 0%, 73%);

    // Change background on hover
    background-color: hsl(0, 0%, 100%);
    &:hover {
        background-color: hsl(0, 0%, 90%);
    }
}

.wvButton__icon { // used with the same element as glyphicons
    // Position button
    position: relative;
    display: inline-block;
    top: 4px;
    margin-right: 4px;
}
