$toolboxHeight: 42px;

$asideWidth: 300px;
$asideMinifyWidth: 64px;

$asideRightMinifyWidth: 85px; // eq. 7.5rem * 12px - ( $asideRightPadding / 2 )
$asideRightPadding: 10px;

/* global */
.popover {
    // Set back black as default popover text color
    color: black;
}

.wvViewer__editor--full{
    position:absolute;
    top:0;
    right:0;
    z-index:10;
    opacity:0;
    transform: translateX(100%);
    width:100%;
    height:100%;
    background-color:white;
    color:$text-color;
    &.opened{
        opacity:1;
        transform: translateX(0);
    }
}
.wvViewer__content{
    position: absolute;

    // Set the main content below the toolbox
    top: $toolboxHeight;
    bottom: 0;

    // Make the main content fill the screen by default
    // Depending on the browser, the left and right attributes are more
    // optimized than padding's ones. The reason is that they based upon
    // absolute positioning. The require no contextual positioning calculation
    // and are less performance intensive, especially concidering transition
    // animation.
    left: 0;
    right: 0;
    
    transition: 0.6s left ease, 0.6s right ease;
}
.wvViewer__content--bigLeftPadding{
    // Leave place to main content when left aside is shown
    left: $asideWidth;
}
.wvViewer__content--bigRightPadding{
    // Leave place to main content when right aside is shown
    right: $asideWidth;
}
.wvViewer__content--smallRightPadding{
    // Leave place to main content when right aside is shown
    right: $asideRightMinifyWidth;
}

.wvViewer__button, .fa.wvViewer__button{ // make sure we have precedence over .fa class
    background-color:inherit;
    text-decoration: none;
    text-align:left;
    cursor: pointer;
    *{
        pointer-events: none;
    }
    &:hover, &:active, &:focus{
        outline:0;
    }

    transition: 0.3s text-decoration ease, 0.3s background-color ease, 0.3s color ease, 0.3s border ease, 0.3s opacity ease;

    padding: 0 10px;
    line-height:40px;
    vertical-align: middle;
    color:white;
    opacity: 0.75;
    border:none;
    border-bottom: 2px solid rgba(255,255,255,0.1);
    &:hover, &:focus{
        border-color: rgba(255,255,255,1);
        opacity:1;
    }
    &.active{
        opacity: 1;
        border-color: $primary;
    }

    // Make sure the 2px border is not hidden by viewports and other parts of
    // the layout (.glyphicon class sets top to 1px)
    top: 0px;

    // Adapt font-awesome icon to glyphicon styles
    &.fa {
        top: 0px;
        font-weight: 800;
    }
}
.wvViewer__button.wvViewer__button--rotate, label.wvViewer__button.wvViewer__button--rotate.fa { // make sure we have more precedence than .fa class
    // Rotate
    transform: rotate(90deg);

    // Prevent antialiasing issue on chrome when mouse is over the button
    -webkit-backface-visibility: hidden;
    outline: 1px solid transparent;

    // Compensate rotation
    border-bottom: none;
    border-right: 2px solid hsla(0, 0%, 100%, 0.1);
    width: 42px;
    height: 32px;
    line-height: 32px;
    padding: 0 0 0 13px;
    left: -5px;
    &:hover, &:focus {
        border-color: rgba(255,255,255,1);
        opacity: 1;
    }
    &.active {
        opacity: 1;
        border-color: $primary;
    }
}
.wvViewer__topBar{
    width:100%;
    // margin-top: 0.5rem;
}
.wvViewer__buttonGroup{
    display:inline-block;
}
.wvViewer__buttonGroup--asideWidth{
    width: $asideWidth;
    padding-right: 1rem;
}
.wvViewer__buttonGroup--contentWidth{
    width: calc(100% - #{$asideWidth});
    padding-left: 1rem;
    max-height: 4.2rem; // Make sure mobile keeps the menubar below a certain size
}
.wvViewer__iframe{
    position:absolute;
    left:0;
    top:0;
}

/* bottom bar */
.wvViewer__bottomBar,
%wvViewer__bottomBar{
    position:absolute;
    left:0;
    bottom:0;
    width:100%;
    background-color:#111111;
}

.wvViewer__bottomBar--expanded{
    @extend .wvViewer__bottomBar;
    height: 80px; //total height of the last serieList cell (64 + 10(margin bottom previous item) + item padding bottom +1 border-width (top item)
    //border-top: 1px solid rgba(255,255,255,0.1);
    color:white;

    .wvViewer__timeline{
        width: calc(100% - 80px);
    }
    .wvTimeline__hotspots{
        bottom: -40px;
    }
}

.wvViewer__bottomBar--minimized{
    @extend .wvViewer__bottomBar;
    color: white;

    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 2.5rem;

    .wvTimeline__hotspot{
        top: -40px;
        opacity:0;
        visibility:hidden;
        z-index:-1;
        transition: all 0.3s ease 0.6s; //adding a delay when mouse leave
        transition-property: opacity, visibility, z-index;
    }
    &:hover .wvTimeline__hotspot{
        opacity:1;
        visibility: visible;
        z-index:5;
        transition-delay: 0s;
    }
}

.wvViewer__timeline{
    height:24px;
    //background-color:rgba(1,1,1,0.2);
    line-height: 24px;
    vertical-align: middle;
    width:100%;
}

.wvViewer__trademark{
    display:inline-block;
    float:right;
    width:80px;
    height:80px;
    float:right;
    line-height: 80px;
    vertical-align: middle;
    text-align: center;
}
.wvTimeline__action--text{

}
.wvTimeline__input{
    border-radius: 3px;
    &:focus{
        outline:none;
    }
    margin-top:2px;
    border: 1px solid $border-color;
}

.wvTimeline__actions{
    display:inline-block;
    border-right: 1px solid $border-color;
}
.wvTimeline__wrapper{
}

/* aside Left */
.wvViewer__asideLeft,
%wvViewer__asideLeft{
    display:block;
    position:absolute;
    z-index:2;
    background-color:black;
    transition: 0.6s width ease, 0.6s transform ease;

    // Position the left side below the toolbox
    top: $toolboxHeight;
    bottom: 0;

    // Position the left side on the left
    left: 0;

    .wv-hide{
        transition: 0.6s opacity ease;
        opacity:0;
        visibility:hidden;
        position:absolute;
    }
    .wv-show{
        transition: 0.6s opacity ease;
        opacity:1;
    }
}

.wvViewer__asideLeft--opened {
    width: $asideWidth;
}
.wvViewer__asideLeft--closed {
    width: $asideWidth;
    transform: translateX(- $asideWidth); // Move all out of the screen

//     &:hover{
//         transform: translateX(0); // Show full
//     }
}

.wvAsideLeft__content {
    height: 100%;
    float: right;

    border-right: 1px solid #AAA;

    width: $asideWidth;
}

.wvAsideLeft__information,
.wvAsideLeft__reports {
    overflow-x: visible;
}
.wvAsideLeft__actions,
%wvAsideLeft__actions{
    display:block;
    position:absolute;
    right:1px; // border
    top:1rem;
    width:25px;
}
.wvAsideLeft__actions--outside{
    @extend.wvAsideLeft__actions;
    right:-25px; // width + border
}
.wvAsideLeft__action{
    background-color:$primary;
    opacity: 0.5;
    color:white;
    &:hover, &:focus{
        opacity: 1;
    }
}

/* aside right */
.wvViewer__asideRight,
%wvViewer__asideRight{
    display:block;
    position:absolute;

    // Position the right side below the toolbox
    top: $toolboxHeight;
    bottom: 0;

    // Position the right side on the right
    right: 0;

    z-index:2;
    height: calc(100% - );
    
    background-color:black;
    transition: 0.6s width ease, 0.6s transform ease;

    .wv-hide{
        transition: 0.6s opacity ease;
        opacity:0;
        visibility:hidden;
        position:absolute;
    }
    .wv-show{
        transition: 0.6s opacity ease;
        opacity:1;
    }
}

.wvViewer__asideRight--opened{
    width: $asideWidth;
}
.wvViewer__asideRight--minimised{
    width: $asideWidth;
    text-align: left;
    transform: translateX(+ $asideWidth - $asideRightMinifyWidth); // Keep minimized only
}
.wvViewer__asideRight--closed{
    width: $asideWidth;
    text-align: left;
    transform: translateX(+ $asideWidth); // Move all out of the screen

    &:hover{
        transform: translateX(+ $asideWidth - $asideRightMinifyWidth); // Keep minimized only
    }
}

.wvAsideRight__content {
    height: 100%;
    float: left;

    border-left: 1px solid #AAA;

    padding: 0 $asideRightPadding/2;

    .wvViewer__asideRight--opened > & {
        width: $asideWidth;
    }
    .wvViewer__asideRight--minimised > & {
        //width: $asideRightMinifyWidth; // we don't use minimzed right aside
        width: $asideWidth;
    }
    .wvViewer__asideRight--closed > & {
        //width: $asideRightMinifyWidth; // we don't use minimzed right aside
        width: $asideWidth;
    }
}

.wvAsideRight__actions,
%wvAsideRight__actions{
    display:block;
    position:absolute;
    left:1px; // border
    top:1rem;
    width:25px;
}
.wvAsideRight__actions--outside{
    @extend.wvAsideRight__actions;
    left:-25px; // width + border
}
.wvAsideRight__action{
    background-color:$primary;
    opacity: 0.5;
    color:white;
    &:hover, &:focus{
        opacity: 1;
    }
}
.wvAsideRight__fixOpenFullyTooltip + .tooltip { // Fix the "open fully" bad tooltip placement of the asideRight
    left: -6.633em !important;
    top: 1px !important;
}
