$pictureSize: 64px;
.serieList__picture{
    position:relative;
}
.serieList__badge{
    position: absolute;
    bottom:5px;
    right:5px;
    font-size:10px;
    line-height:15px;
    width:15px;
    height:15px;
    border-radius: 100%;
    background-color:$primary;
    vertical-align: middle;
    text-align: center;
    font-weight: bold;
}
.serieList__informations{
    width: calc(100% - #{$pictureSize});
    height: $pictureSize;
}
.serieList__label{
    white-space: nowrap;
    width:calc(100% - 10px);
    overflow:hidden;
    height:$pictureSize/2;
    line-height:$pictureSize/2;
    vertical-align: middle;
}
.serieList__timeline{
    //border-top: 1px solid rgba(255,255,255,0.2);
    height:$pictureSize/2;
    line-height:$pictureSize/2;
    vertical-align: middle;
}


.wvSerieslist__seriesItem--actived,
.wvSerieslist__videoItem--actived,
.wvSerieslist__pdfItem--actived {
    border: 1px solid #999 !important;
}


.wv-serieslist {
  margin: 0;
  padding: 0;
  list-style: none;
}

.wv-serieslist-item {
  position: relative; // anchor element

  padding: 0;
  text-align: center;
  
  width: 150px;
  height: 150px;
  margin: auto;
  margin-bottom: 0.5rem;

  // Set text content to grey color
  color: hsl(0, 0%, 70%);
}

.wv-serieslist-overlay {
  position: absolute;
  bottom:0;
  left:0;
  right:0;
  color: #CCC;
  background-color: rgba(0,0,0,0.5);
  text-align: center;
  padding: 0.5em;
  border: 1px solid rgba(255, 255, 255, 0.13);
}

// Report icon
.wv-serieslist-report {
  // Pointer cursor (for `ng-click`)
  cursor: pointer;

  // Lighten up the icon on hover
  &:hover {
    color: white;
  }
}

.wv-serieslist-reporticon, .wv-serieslist-reporticon.fa { // Make sure it has precedence over .fa class {
  // Fill the li element 
  width: 100%;
  height: 100%;

  // Fill the li element with the fontawesome icon
  font-size: 4em;
  line-height: 1.25em;
  text-align: center;
}

// No-report icon & label
.wv-serieslist-noreport {
  // Grey out (since no report is available)
  color: #555;
}
.wv-serieslist-noreporticon, .wv-serieslist-noreporticon.fa { // Make sure it has precedence over .fa class
  // Fill the li element 
  width: 100%;
  height: 100%;

  // Fill the li element with the fontawesome icon
  font-size: 4em;
  line-height: 1.25em;
  text-align: center;

  // Diagonal line crossing report icon (to tell none are available)
  position: relative;

  &::after { // use after to not conflicts with font-awesome :before
    position: absolute;

    left: 0;
    top: 50%;
    right: 0;
    
    transform:rotate(-45deg);

    border-top: 5px solid;
    border-color: inherit;

    content: "";
  }
}
