$pictureSize: 64px;
.serieList__smallItem {
    width: 100px;
    height: 100px;
    padding: 0;
    margin: 15px;
    text-align: center;
    &:first-child{
        margin-top:0;
    }
    &:last-child{
        margin-bottom:0;
    }
}
.serieList__item{
    border-bottom: 1px solid rgba(255,255,255,0.3);
    margin-bottom: 10px;
    padding-bottom: 5px;
}
.serieList__item--last{
    padding-bottom: 5px;
}
//.serieList__timeline{
//    // child selector to be sure the context is correct : this class shoul have no effect elsewhere (e.g : wysiwyg editor)
//    .serieList__hotspot{
//        max-height:100%;
//        max-width:100%;
//    }
//}
.serieList__picture{
    position:relative;
}
.serieList__badge{
    position: absolute;
    bottom:5px;
    right:5px;
    font-size:10px;
    line-height:15px;
    width:15px;
    height:15px;
    border-radius: 100%;
    background-color:$primary;
    vertical-align: middle;
    text-align: center;
    font-weight: bold;
}
.serieList__informations{
    width: calc(100% - #{$pictureSize});
    height: $pictureSize;
}
.serieList__label{
    white-space: nowrap;
    width:calc(100% - 10px);
    overflow:hidden;
    height:$pictureSize/2;
    line-height:$pictureSize/2;
    vertical-align: middle;
}
.serieList__timeline{
    //border-top: 1px solid rgba(255,255,255,0.2);
    height:$pictureSize/2;
    line-height:$pictureSize/2;
    vertical-align: middle;
}
