.wvStudyIsland {
    margin: 2rem 0rem;

}
.wvStudyIsland__header {
    border-top: 1px solid hsla(0, 0%, 100%, 0.2);
    border-bottom: 1px solid hsla(0, 0%, 100%, 0.2);
    padding: 0.5rem 0;
}
.wvStudyIsland__main {
    padding-top: 10px !important;
    color: hsl(0, 0%, 100%);
}