.wvToolbar {
    position: absolute;
}

.wvToolbar--top {
    top: 0;
    height: $toolbarHeight;

    // Position the toolbar to the right (even if it's positioned
    // horizontally).
    right: 0;
    text-align: right;

    // Allow user to scroll through the toolbar if screen is too small. Note we
    // can't use z-index properly to show buttons on top of the viewer, as any
    // popover will appear behind them (even with higher z-index) due to an
    // overflow property hidden somewhere.
    overflow-y: auto;
    overflow-x: visible;
    white-space: nowrap;
    max-width: 100%;
}

.wvToolbar--right {
    right: 0;
    width: 32px; // != $toolbarHeight since we're in the reverse order.

    // Allow user to scroll through the toolbar if screen is too small. 
    overflow-x: auto;
    overflow-y: visible;
    height: 100%;
}

.wvToolbar--right .wvButton--rotate, .wvToolbar--right .wvButton--rotate.fa { // make sure we have more precedence than .fa class
    // Align rotated button position when toolbar is positioned at right.
    left: -5px;
    top: 5px;
    min-width: 42px;
}