@import "wv-overlay.scss";
@import "wv-pdf-viewer.scss";
@import "wv-serieslist.scss";
@import "wv-toolbar.scss";
@import "wv-studylist.scss";
@import "wv-splitpane.scss";
@import "wv-timeline.scss";
@import "wv-timeline-controls.scss";
@import "wv-loadingbar.scss";

wv-viewport { // make sure the element is sized when using with drag & drop
  display: inline-block;
}
wv-toolbar {
  display: block;
}

.wv-draggable-clone {
  width: 150px;
  height: 150px;
  background-color: rgba(255,255,255,0.25);
}

wv-webviewer, .wv-webviewer-container {
  height: 100%;
  overflow: hidden;
}
.wv-webviewer-menu {
  float: left;
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
  text-align: center;
  width: 200px;
}

.wv-webviewer-main {
  float: left;
  height: 100%;
  width: 100%;

  .wv-webviewer-menu + & {
    // Let a bit of space left if the menu is also displayed
    width: calc(100% - 200px);
  }
}

.wv-webviewer-content {
  height: 100%;
  // Let a bit of space left when the toolbar is displayed
  wv-toolbar + & {
    height: calc(100% - 40px);
  }
}