.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.wv-html {
  height: 100%;
}
.wv-body {
  padding: 0;
  height: 100%;
  background-color: black;
}

.wv-container {
  height: 100%;
  overflow: hidden;
}