<div class="wv-splitpane">
    <div 
        ng-repeat="i in y | range track by $index"
    	class="wv-splitpane-row" ng-style="{height: rowHeight}"
	>
        <div
            ng-repeat="j in x | range track by $index"
        	class="wv-splitpane-cell" ng-style="{width: rowWidth}"
        	wv-viewport-size
        	ng-transclude
    	>
            <wv-serie-viewport wv-serie-id="randomSerieId" wv-width="'parent'" wv-height="'parent'"
                wv-viewport-droppable
                wv-viewport-mouse-events

                wv-tool-windowing="wvSettings.windowing"
                wv-tool-zoom="wvSettings.zoom"
                wv-tool-pan="wvSettings.pan"
                wv-tool-lengthmeasure="wvSettings.lengthmeasure"
                wv-tool-anglemeasure="wvSettings.anglemeasure"
                wv-tool-pixelprobe="wvSettings.pixelprobe"
                wv-tool-ellipticalroi="wvSettings.ellipticalroi"
                wv-tool-rectangleroi="wvSettings.rectangleroi"
                wv-state-invert="wvSettings.invert"
                wv-state-play="wvSettings.play"
            >
                <wv-overlay></wv-overlay>
            </wv-serie-viewport>
        </div>
    </div>
</div>