<div class="container-fluid" style="height: 100%; padding: 0;">
    <div class="row" ng-style="{height: rowHeight}" style="padding: 0; margin: 0;" ng-repeat="viewportRow in viewports track by $index">
        <div ng-class="cellClasses" wv-viewport-size style="height: 100%; padding: 0;" ng-repeat="viewport in viewportRow track by $index">
            <wv-serie-viewport wv-viewport-droppable wv-viewport-mouse-events wv-width="'parent'" wv-height="'parent'" wv-serie-id="viewport.serieId" wv-instance-index="viewport.instanceIndex">
                <wv-overlay></wv-overlay>
            </wv-serie-viewport>
        </div>
    </div>
</div>