<div class="wv-overlay" ng-transclude>
    <!-- Always show the timeline — even if there is only one image — until we (@todo) develop
         a specific component to display the image quality -->
    <div class="wv-overlay-timeline-wrapper">
        <wv-timeline wv-series="vm.wvSeries"></wv-timeline>
    </div>

    <wv-droppable-series-overlay-item></wv-droppable-series-overlay-item>

    <div class="wv-overlay-topleft" ng-if="vm.showTopLeftArea()">
        {{vm.wvSeries.tags.PatientName}}<br/>
        {{vm.wvSeries.tags.PatientID}}
    </div>
    <div class="wv-overlay-topright" ng-if="vm.showTopRightArea()">
        {{vm.wvSeries.tags.StudyDescription}}<br/>
        {{vm.wvSeries.tags.StudyDate}}<br/>
        #{{vm.wvSeries.tags.SeriesNumber}} - {{vm.wvSeries.tags.SeriesDescription}}<br/>
    </div>
    
    <div class="wv-overlay-bottomright" ng-if="vm.showBottomRightArea()">
        <span ng-if="vm.wvSeries.currentShownIndex != vm.wvSeries.currentIndex">(image {{vm.wvSeries.currentIndex}} in loading)</br></span>
        zoom: {{vm.wvViewport.scale|number:2}}<br/>
        ww/wc: {{vm.wvViewport.voi.windowWidth|number:0}}/{{vm.wvViewport.voi.windowCenter|number:0}}
    </div>
</div>