// bower:scss
@import "font-awesome/scss/font-awesome.scss";
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

html {
  height: 100%;
}
body {
  padding: 0;
  height: 100%;
  background-color: black;
}

wv-viewport { // make sure the element is sized when using with drag & drop
  display: inline-block;
}
wv-toolbar {
  display: block;
}

@import "wv-overlay.scss";

.wv-button {
  background-color: black; 
  background-image: none; 
  text-shadow: none; 
  color: #EEE; 
  border: none; 
  border-bottom: 1px solid white; 
  border-radius: 0; 
  font-size: 1.5rem;height: 4rem;
}
.wv-studylist {
  min-width: 100%;
  max-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.wv-container {
  height: 100%;
  overflow: hidden;
}
.wv-menu {
  display: block;
  float: left;
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
  text-align: center;
  width: 200px;
}

.wv-main {
  display: block;
  float: left;
  height: 100%;
  width: calc(100% - 200px);
}

wv-toolbar ~ wv-splitpane,
wv-toolbar ~ wv-serie-viewport,
wv-toolbar ~ .after-toolbar {
  display: block;
  height: calc(100% - 40px);
  //margin-top: -5px;
}

.wv-toolbar {
  height: 40px;
  margin: 0;
  padding: 0px;
}
.wv-splitpane {
  height: 100%;
}
.wv-splitpane-cell {
  display: inline-block;
  float: left;
  height: 100%;
}

.wv-serie-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.wv-serie-list-item {
  padding: 0;
  text-align: center;
}
.wv-serie-list-overlay {
  position: absolute;
  bottom:0;
  left:0;
  right:0;
  color: #CCC;
  background-color: rgba(0,0,0,0.75);
  text-align: center;
  padding: 0.5em;
}

.wv-draggable-clone {
  width: 150px;
  height: 150px;
  background-color: rgba(255,255,255,0.25);
}
