.wv-overlay {
    position: absolute;

    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    color: orange;
}

.wv-overlay-topleft {
    position: absolute;
    top: 2rem;
    left: 2rem;
}

.wv-overlay-topright {
    position: absolute;
    top: 2rem;
    right: 2rem;
}

.wv-overlay-bottomright {
    position: absolute;
    bottom: 2rem;
    right: 2rem;
}

.wv-overlay-bottomleft {
    position: absolute;
    bottom: 2rem;
    left: 2rem;
}