<div class="wvStudyInformationBreadcrumb">
    <div class="wvStudyInformationBreadcrumb__patient">
        <span
            class="wvStudyInformationBreadcrumb__patientName"
            ng-if="vm.patientTags.PatientName"
        >
            {{vm.patientTags.PatientName}}
        </span>
        <small
            class="wvStudyInformationBreadcrumb__patientBirthDate"
            ng-if="vm.patientTags.PatientBirthDate"
        >
            ({{vm.patientTags.PatientBirthDate}})
        </small>
    </div>
    <div class="wvStudyInformationBreadcrumb__study">
        <span
            class="wvStudyInformationBreadcrumb__studyDescription"
            ng-if="vm.studyTags.StudyDescription"
        >
            {{vm.studyTags.StudyDescription}}
        </span>
        <small
            class="wvStudyInformationBreadcrumb__studyDate"
            ng-if="vm.studyTags.StudyDate"
        >
            ({{vm.studyTags.StudyDate}})
        </small>
    </div>
</div>