<!doctype html>
<html>
  <head>
    <style>
        /* This helps the ng-show/ng-hide animations start at the right place. */
        /* Since Angular has this but needs to load, this gives us the class early. */
        .ng-hide { display: none!important; }
    </style>
    <title ng-bind="title">Osimis Web Viewer</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />

    <!-- build:css styles/lib.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap-theme.css" />
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css styles/app.css -->
    <!-- inject:css -->
    <link rel="stylesheet" href="/.tmp/styles.css">
    <!-- endinject -->
    <!-- endbuild -->
  </head>
  <body ng-app="orthanc">
    <div ng-controller="OsimisWebViewer" class="wv-container">
        <wv-toolbar wv-items="toolbar" ng-if="minimize"></wv-toolbar>
        <div style="height: calc(100% - 40px)" wv-size-tag ng-if="minimize">
            <wv-viewport wv-serie-id="serieId" wv-size="{width: '[wv-size-tag]', height: '[wv-size-tag]'}"
                wv-scroll-on-wheel-serie-ext="true"
                wv-enable-overlay="toolbar.overlay"

                wv-default-viewport-tool="toolbar.windowing"
                wv-angle-measure-viewport-tool="toolbar.anglemeasure"
                wv-length-measure-viewport-tool="toolbar.lengthmeasure"
                wv-elliptical-roi-viewport-tool="toolbar.ellipticalroi"
                wv-zoom-viewport-tool="toolbar.zoom"
                wv-pan-viewport-tool="toolbar.pan"
                wv-pixel-probe-viewport-tool="toolbar.pixelprobe"
                wv-rectangle-roi-viewport-tool="toolbar.rectangleroi"
                
                wv-invert-contrast-viewport-tool="toolbar.invert"
                wv-play-serie-ext="toolbar.play"
            ></wv-viewport>
        </div>

        <div class="wv-menu" ng-if="!minimize">
            <wv-serielist wv-study="study"></wv-serielist>
        </div>
        <div class="wv-main" ng-if="!minimize">
            <wv-toolbar wv-items="toolbar"></wv-toolbar>
            <wv-splitpane wv-layout="toolbar.layout" wv-settings="toolbar"></wv-splitpane>
        </div>
    </div>

    <!-- build:js js/lib.js -->
    <!-- bower:js -->
    <script src="/bower_components/jquery/dist/jquery.js"></script>
    <script src="/bower_components/angular/angular.js"></script>
    <script src="/bower_components/angular-animate/angular-animate.js"></script>
    <script src="/bower_components/angular-resource/angular-resource.js"></script>
    <script src="/bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="/bower_components/cornerstone/dist/cornerstone.js"></script>
    <script src="/bower_components/cornerstoneMath/dist/cornerstoneMath.js"></script>
    <script src="/bower_components/hammerjs/hammer.js"></script>
    <script src="/bower_components/cornerstoneTools/dist/cornerstoneTools.js"></script>
    <script src="/bower_components/jpgjs/jpg.js"></script>
    <script src="/bower_components/hamsterjs/hamster.js"></script>
    <script src="/bower_components/lodash/lodash.js"></script>
    <script src="/bower_components/jquery-ui/jquery-ui.js"></script>
    <script src="/bower_components/angular-dragdrop/src/angular-dragdrop.js"></script>
    <script src="/bower_components/angular-strap/dist/angular-strap.js"></script>
    <script src="/bower_components/angular-strap/dist/angular-strap.tpl.js"></script>
    <script src="/bower_components/jqueryui-touch-punch/jquery.ui.touch-punch.min.js"></script>
    <script src="/bower_components/ng-range-filter/src/ngRangeFilter.js"></script>
    <script src="/bower_components/ng-debounce/angular-debounce.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js js/app.js -->
    <!-- inject:js -->
    <script src="/src/app/webviewer.module.js"></script>
    <script src="/src/app/annotation/annotation.js"></script>
    <script src="/src/app/image/model/cornerstone-loader.js"></script>
    <script src="/src/app/image/model/image-model.js"></script>
    <script src="/src/app/image/model/image.js"></script>
    <script src="/src/app/image/plugins/angle-measure-viewport-tool.directive.js"></script>
    <script src="/src/app/image/plugins/base-tool.class.js"></script>
    <script src="/src/app/image/plugins/default-viewport-tool.directive.js"></script>
    <script src="/src/app/image/plugins/elliptical-roi-viewport-tool.directive.js"></script>
    <script src="/src/app/image/plugins/invert-contrast-viewport-tool.directive.js"></script>
    <script src="/src/app/image/plugins/length-measure-viewport-tool.directive.js"></script>
    <script src="/src/app/image/plugins/pan-viewport-tool.directive.js"></script>
    <script src="/src/app/image/plugins/pixel-probe-viewport-tool.directive.js"></script>
    <script src="/src/app/image/plugins/rectangle-roi-viewport-tool.directive.js"></script>
    <script src="/src/app/image/plugins/zoom-viewport-tool.directive.js"></script>
    <script src="/src/app/image/viewport.directive.js"></script>
    <script src="/src/app/overlay/overlay.directive.js"></script>
    <script src="/src/app/overlay/scrollbar-overlay-item.directive.js"></script>
    <script src="/src/app/serie/model/orthanc-serie-adapter.js"></script>
    <script src="/src/app/serie/model/serie-model.js"></script>
    <script src="/src/app/serie/model/serie.js"></script>
    <script src="/src/app/serie/plugins/draggable-serie-ext.directive.js"></script>
    <script src="/src/app/serie/plugins/droppable-serie-ext.directive.js"></script>
    <script src="/src/app/serie/plugins/play-serie-ext.directive.js"></script>
    <script src="/src/app/serie/plugins/scroll-on-over-serie-ext.directive.js"></script>
    <script src="/src/app/serie/plugins/scroll-on-wheel-serie-ext.directive.js"></script>
    <script src="/src/app/serie/serie-id.directive.js"></script>
    <script src="/src/app/serie/wv-serielist.js"></script>
    <script src="/src/app/splitpane/wv-splitpane.js"></script>
    <script src="/src/app/toolbar/wv-toolbar-setting.js"></script>
    <script src="/src/app/toolbar/wv-toolbar-state.js"></script>
    <script src="/src/app/toolbar/wv-toolbar-tool.js"></script>
    <script src="/src/app/toolbar/wv-toolbar.js"></script>
    <script src="/src/app/utilities/osimis-listener.js"></script>
    <script src="/src/app/utilities/size.directive.js"></script>
    <script src="/src/app/utilities/wv-studylist.js"></script>
    <!-- endinject -->

    <!-- inject:templates:js -->
    <!-- endinject -->
    <!-- endbuild -->

    <!-- build:js config.js -->
    <script src="/src/config.js"></script>
    <!-- endbuild -->
    
    <script>
        angular.module('orthanc', ['webviewer'])
        .config(function($locationProvider, wvConfigProvider) {
            wvConfigProvider.setApiURL(window.orthancUrl);
            
            $locationProvider.html5Mode({
                enabled: true,
                requireBase: false
            });
        })
        .controller('OsimisWebViewer', function($scope, $location) {
            $scope.toolbar = {
                zoom: false,
                pan: false,
                invert: false,
                lengthmeasure: false,
                anglemeasure: false,
                pixelprobe: false,
                ellipticalroi: false,
                rectangleroi: false,
                play: false,
                overlay: true
            };

            $scope.serieId = $location.search().series;

            $scope.study = {
                id: $location.search().study
            };

            $scope.minimize = !$scope.study.id;
        })
        ;
    </script>
</body>
</html>
