<ul
    ng-show="vm.studyId"
    class="list-unstyled mbn"
>
    <li
        class="wvSerieslist__seriesItem"
        ng-repeat="id in vm.seriesIds track by id"
        wv-scroll-on-over-series-ext
        ng-class="{
            'wvSerieslist__seriesItem--list': vm.displayMode === 'list',
            'wvSerieslist__seriesItem--grid': vm.displayMode === 'grid',
            'wvSerieslist__seriesItem--selectable': vm.selectionEnabled,
            'wvSerieslist__seriesItem--activated': vm.selectionEnabled && vm.selectedSeriesIds.indexOf($series.id) !== -1
        }"
        ng-show="vm.loaded"
        wv-draggable-item="{
            reportId: null,
            videoId: null,
            seriesId: $series.id,
            imageIndex: 0,
            csViewport: null
        }"
        ng-click="vm.toggleSelection($series.id)"

        bs-tooltip
        bs-enabled="vm.displayMode === 'grid'"
        title="{{$series.tags.SeriesDescription}}"
        placement="right"
    >
        <div
            class="serieList__picture inline-object wh__64"
            wv-size-tag
        >
            <wv-viewport wv-image="$image" wv-image-index="$series.imageCount/2" vp:series-id="id" wv-series="$series" wv-size="{width: '[wv-size-tag]', height: '[wv-size-tag]'}"
                wv-enable-overlay="false"
            ></wv-viewport>
            <div class="serieList__badge">{{$series.imageCount}}</div>
        </div>
        <div 
            ng-if="vm.displayMode === 'list'"
            class="serieList__informations float__right pl10"
        >
            <p class="serieList__label mn">{{$series.tags.SeriesDescription}}</p>
            <!-- @todo reintegrate hotspots (it triggers recursive $digest atm!)
            <wvp-hotspotlist wvp-serie-id="$series.id"></wvp-hotspotlist> -->
        </div>
    </li>
</ul>