<div class="wv-overlay" ng-transclude>
    <div class="wv-overlay-topleft" ng-if="vm.showTopLeftArea()">
        {{vm.wvTags.PatientName}}<br/>
        {{vm.wvTags.PatientID}}
    </div>
    <div class="wv-overlay-topright" ng-if="vm.showTopRightArea()">
        {{vm.wvTags.StudyDescription}}<br/>
        {{vm.wvTags.StudyDate}}<br/>
        #{{vm.wvTags.SeriesNumber}} - {{vm.wvTags.SeriesDescription}}<br/>
    </div>
    
    <div class="wv-overlay-bottomright" ng-if="vm.showBottomRightArea()">
        zoom: {{vm.wvViewport.scale|number:2}}<br/>
        ww/wc: {{vm.wvViewport.voi.windowWidth|number:0}}/{{vm.wvViewport.voi.windowCenter|number:0}}
    </div>
    
    <wv-scrollbar-overlay-item wv-image-count="vm.wvSerie.imageCount" wv-image-index="vm.wvSerie.currentIndex" wv-shown-image-index="vm.wvSerie.currentShownIndex" ng-if="vm.wvShowTimeline"></wv-scrollbar-overlay-item>
</div>